[Unit]
Description=Win Video Looper service
After=graphical.target
Wants=graphical.target

[Service]
User=pi
Group=pi
ExecStart=/bin/bash -c "export DISPLAY=:0; export XAUTHORITY=/home/pi/.Xauthority; sh /home/pi/win_video_looper/scripts/run.sh"
TimeoutStopSec=2

[Install]
WantedBy=graphical.target